<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="map" style="width: 100%; height: 100%"></div>
</ion-content>
<!-- <ion-tab>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" (click)="printMapViviendas()">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Recorrer Viviendas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Salir</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tab> -->

<ion-footer class="ion-text-center"> 
<ion-button expand="full" color="secondary" (click)="printMapViviendas()">Recorrer Viviendas</ion-button>
</ion-footer>